.mainContainer{
   background-color: aquamarine;
   border: 1px solid;
   width: 300px;
   height: 300px;


   
}

.topmain{
    display: flex;
    border: 1px solid;
    align-items: center;
    justify-content: center;
}